       <!-- head section -->
        <section class="content-top-margin page-title page-title-small border-bottom-light border-top-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
                        <!-- page title -->
                        <h1 class="black-text">Sobre nosotros</h1>
                        <!-- end page title -->
                    </div>
                    <div class="col-md-4 col-sm-12 breadcrumb text-uppercase wow fadeInUp xs-display-none" data-wow-duration="600ms">
                        <!-- breadcrumb -->
                        <ul>
                            <li><%= link_to Spree.t(:'Inicio'), spree.root_path %> </li>
                            <li>Sobre nosotros</li>
                        </ul>
                        <!-- end breadcrumb -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end head section -->

        <!-- content section -->
        <section class="bg-black wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-8 text-center center-col">
                        <div class="about-year text-uppercase white-text"> Fashion as a Service</div>
                        <p class="title-small text-uppercase letter-spacing-1 white-text font-weight-100">Creemos en el consumo de moda del futuro, más sostenible y beneficioso para el usuario. Únete a Pislow.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 center-col">
                        <!-- tab -->
                        <div class="tab-style1">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <!-- tab navigation -->
                                    <ul class="nav nav-tabs nav-tabs-light text-center height-auto">
                                        <li class="active"><a href="#tab_sec1" data-toggle="tab">Que es Pislow</a></li>
                                        <li><a href="#tab_sec2" data-toggle="tab">Que es el FaaS </a></li>
                                        <li><a href="#tab_sec3" data-toggle="tab">Prendas</a></li>
                                    </ul>
                                    <!-- tab end navigation -->
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-12 col-sm-12">
                                    <div class="wide-separator-line no-margin-lr"></div>
                                </div>
                            </div>
                            <!-- tab content section -->
                            <div class="tab-content">
                                <!-- tab content -->
                                <div class="tab-pane med-text fade in active" id="tab_sec1">
                                    <div class="row"> 
                                        <div class="col-md-6 col-sm-12 text-left gray-text">
                                            <p class="text-large margin-right-ten">Somos una plataforma de moda que ofrece al usuario el servicio FaaS, donde pagas sólo por el uso real de las prendas</p>
                                        </div>
                                        <div class="col-md-6 col-sm-12 text-left text-med gray-text">
                                            <p class="text-uppercase">Alquila tus prendas o cómpralas con descuento una vez que las hayas probado</p>
                                            <p>Podrás alquilar las prendas mensualmente y devolverlas cuando quieras, además de comprar las que realmente quieras seguir teniendo</p>
                                        </div>
                                    </div>
                                    <div class="row"> 
                                        <div class="col-md-12 col-sm-12">
                                            <div class="wide-separator-line no-margin-lr"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 text-center service-year black-text">
                                            <strong>Utiliza el servicio FaaS</strong>
                                        </div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                                <!-- tab content -->
                                <div class="tab-pane fade in" id="tab_sec2">
                                    <div class="row"> 
                                        <div class="col-md-6 col-sm-12 text-left gray-text">
                                            <p class="text-large margin-right-ten">El servicio FaaS permite alquilar prendas puntuales al o subscribirte mensualmente.</p>
                                        </div>
                                        <div class="col-md-6 col-sm-12 text-left text-med gray-text">
                                            <p class="text-uppercase">Subscríbete mensualmente y consigue saldo para coger prendas.</p>
                                            <p>Dispondrás mensualmente de un saldo con el que podrás adquirir las prendas que quieras, cuando las devuelvas recuperarás de nuevo saldo para coger nuevas prendas.</p>
                                        </div>
                                    </div>
                                    <div class="row"> 
                                        <div class="wide-separator-line"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 text-center service-year black-text">
                                            <strong>Subscríbete a nuestros planes mensuales</strong>
                                        </div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                                <!-- tab content -->
                                <div class="tab-pane fade in" id="tab_sec3">
                                    <div class="row"> 
                                        <div class="col-md-6 col-sm-12 text-left gray-text">
                                            <p class="text-large margin-right-ten">Disponemos de prendas de calidad de las mejores marcas.</p>
                                        </div>
                                        <div class="col-md-6 col-sm-12 text-left text-med gray-text">
                                            <p class="text-uppercase">Las prendas siempre estarán en estado óptimo gracias a nuestros controles.</p>
                                            <p>Realizamos controles de el estado de las prendas para garantizar su estado y retiraremos aquellas que no estén en condiciones.</p>
                                        </div>
                                    </div>
                                    <div class="row"> 
                                        <div class="wide-separator-line"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 text-center service-year black-text">
                                            <strong>Prendas siempre en estado óptimo</strong>
                                        </div>
                                    </div>
                                </div>
                                <!-- end tab content -->
                            </div>
                            <!-- end tab content section -->
                        </div>
                        <!-- end tab -->
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-gray wow fadeIn">
            <div class="container">
                <div class="row">
                    <!-- features item -->
                    <div class="col-md-4 col-sm-4 text-center wow fadeIn features-2" data-wow-duration="300ms">
                        <div class="key-person">
                            <%= image_tag 'about_us_nosencantamoda.jpeg' , :class =>"key-person-img"  %>
                            <div class="key-person-details bg-gray no-border no-padding-bottom"><h5>Nos encanta la moda</h5>
                                <div class="separator-line bg-black"></div>
                                <p>Nuestra pasión por a moda hace que os presentemos sólo los mejores productos para que estés a la última.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end features item -->
                    <!-- features item -->
                    <div class="col-md-4 col-sm-4 text-center wow fadeIn features-2" data-wow-duration="600ms">
                        <div class="key-person">
                            <%= image_tag "about_us_innovacion.jpg" , :class =>"key-person-img"  %>
                            <div class="key-person-details bg-gray no-border no-padding-bottom"><h5>Nos encanta la innovación</h5>
                                <div class="separator-line bg-black"></div>
                                <p>Por eso te ofrecemos la mejor plataforma y funcionalidades que puedas necesitar.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end features item -->
                    <!-- features item -->
                    <div class="col-md-4 col-sm-4 text-center wow fadeIn features-2" data-wow-duration="900ms">
                        <div class="key-person">
                            <%= image_tag "about_us_retos.jpeg" , :class =>"key-person-img"  %>
                            <div class="key-person-details bg-gray no-border no-padding-bottom"><h5>Nos encantan los retos</h5>
                                <div class="separator-line bg-black"></div>
                                <p>Queremos ir más haya y ofrecerte los productos según tus gustos y necesidades.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end features item -->
                </div>
            </div>
        </section>
                            
                
             
      <section class="cover-background magazine">
            <%= link_to "Magazine", root_path %> # => <a href="/magazine"></a>
            <div class="opacity-full bg-dark-gray"></div>
            <div class="container position-relative">
                <div class="row">
                    <div class="col-md-6 col-sm-11 center-col text-center">
                        <p class="title-large white-text text-uppercase letter-spacing-2"><strong>Infórmate y sigue nuestro magazine en tendencias.</strong><p>
                        <p class="text-large white-text text-uppercase margin-five no-margin-bottom">Te ofrecemos una editorial para que estés informada y a la última en tendencias y moda. Viste Cool!<p>
                    </div>
                </div>
            </div>
        </section>        
<!--         <section class="features wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center wow fadeIn">
                        <h3 class="section-title">Por que nosotros?</h3>
                    </div>
                </div>
                <div class="row">
                    <!-- features grid -->
                    <!-- features item -->
<!--                     <div class="col-md-3 col-xs-6 text-center features-box-style1 sm-margin-bottom-six xs-margin-bottom-ten">
                        <i class="icon-tools medium-icon gray-text"></i>
                        <h5 class="margin-five no-margin-top">Ahorra con el FaaS</h5>
                        <p>Con el servicio FaaS gastas mucho menos que comprando una prenda.</p>
                    </div> -->
                    <!-- end features item -->
                    <!-- features item -->
<!--                     <div class="col-md-3 col-xs-6 text-center features-box-style1 sm-margin-bottom-six xs-margin-bottom-ten">
                        <i class="icon-target medium-icon gray-text"></i>
                        <h5 class="margin-five no-margin-top">Opción a compra</h5>
                        <p>No te preocupes siempre podrás comprar la prenda con el descuento de uso o incluso más.</p>
                    </div> -->
                    <!-- end features item -->
                    <!-- features item -->
<!--                     <div class="col-md-3 col-xs-6 text-center features-box-style1 xs-margin-bottom-ten">
                        <i class="icon-map medium-icon gray-text"></i>
                        <h5 class="margin-five no-margin-top">Envío y Recogida</h5>
                        <p>Te ofrecemos un servicio de envío y recogida de productos sencillo y fácil de usar.</p>
                    </div> -->
                    <!-- end features item -->
                    <!-- features item -->
<!--                     <div class="col-md-3 col-xs-6 text-center features-box-style1">
                        <i class="icon-hotairballoon medium-icon gray-text"></i>
                        <h5 class="margin-five no-margin-top">Productos exclusivos</h5>
                        <p>Te ofrecemos los mejores productos de moda y accesorios.</p>
                    </div> -->
                    <!-- end features item -->
                    <!-- end features grid -->
<!--                 </div>
            </div>
        </section> --> -->

        <!-- testimonial section -->
        <section class="wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-10 no-padding-top no-padding-bottom testimonial-style2 center-col text-center position-relative">
                        <i class="fa fa-quote-left medium-icon black-text margin-five no-margin-top"></i>
                        <h6 class="black-text">La moda es muy importante. Mejora la vida y, como todo lo que da placer, vale la pena hacerlo bien </h6>
                        <span class="name black-text">Vivienne Westwood - Diseñadora e icono de moda</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- end testimonial section -->
        <!-- end content section -->