<%- cache(element) do -%>
  <%= element_view_for(element) do |el| -%>

          <section class="bg-gray wow fadeIn">
            <div class="container">
                <div class="row">
                    <!-- features item -->
                    <div class="col-md-4 col-sm-4 text-center wow fadeIn features-2" data-wow-duration="300ms">
                        <div class="key-person">
                            <%= el.render :picture1 %>
                            <div class="key-person-details bg-gray no-border no-padding-bottom"><h5><%= el.render :headline1 %></h5>
                                <div class="separator-line bg-black"></div>
                                <p><%= el.render :text1 %></p>
                            </div>
                        </div>
                    </div>
                    <!-- end features item -->
                    <!-- features item -->
                    <div class="col-md-4 col-sm-4 text-center wow fadeIn features-2" data-wow-duration="600ms">
                        <div class="key-person">
                            <%= el.render :picture2 %>
                            <div class="key-person-details bg-gray no-border no-padding-bottom"><h5><%= el.render :headline2 %></h5>
                                <div class="separator-line bg-black"></div>
                                <p><%= el.render :text2 %></p>
                            </div>
                        </div>
                    </div>
                    <!-- end features item -->
                    <!-- features item -->
                    <div class="col-md-4 col-sm-4 text-center wow fadeIn features-2" data-wow-duration="900ms">
                        <div class="key-person">
                            <%= el.render :picture3 %>
                            <div class="key-person-details bg-gray no-border no-padding-bottom"><h5><%= el.render :headline3 %></h5>
                                <div class="separator-line bg-black"></div>
                                <p><%= el.render :text3 %></p>
                            </div>
                        </div>
                    </div>
                    <!-- end features item -->
                </div>
            </div>
        </section>
  <%- end -%>
<%- end -%>
