<header id="header" class="row" data-hook>
        <nav class="navbar navbar-default navbar-fixed-top nav-transparent overlay-nav sticky-nav bg-mid-gray " role="navigation">
           
                <div class="gender container">
                                    <!-- Gender -->
                            <div class="gender_col col-sm-1 col-xs-3 margin-top-small"><%= link_to Spree.t(:'Mujer'), '/woman' , class: "no-margin no-padding btn-small-white-border bg-mid-gray"  %></div>
                            <div class="gender_col col-sm-1 col-xs-3 margin-top-small"><%= link_to Spree.t(:'Hombre'), '/man' , class: "no-margin no-padding btn-small-white-border bg-mid-gray"  %></div>
                            <div class="gender_col col-sm-1 col-xs-3 height-nav margin-top-small bg-white"><%= link_to Spree.t(:'Niños'), '/kids' , class: "no-margin no-padding btn-small-white-border-selected bg-transparent"  %></div>
                            <!-- end Gender -->

                                       
                </div>
        
        </nav>
        <!-- navigation panel -->
        <nav class="navbar navbar-default navbar-fixed-top nav-transparent overlay-nav sticky-nav nav-border-bottom bg-white shop-nav margin-top-nav" role="navigation">
            <div class="container">
                     <!-- search and cart  -->
                    <div class="col-md- no-padding-left search-cart-header pull-right">                      
                        
                        <div id="top-search">
                            <!-- nav search -->
                                                        <!-- nav search -->
                            <a href="#search-header" class="header-search-form"><i class="fa fa-search search-button"></i></a>
                            <!-- end nav search -->

                            <a href="#search-header" class=></a>
                            <!-- end nav search -->
                        </div>
                        <!-- search input-->
                        <form id="search-header" method="post" action="#" name="search-header" class="mfp-hide search-form-result">
                            <div class="search-form position-relative">

                                <%= form_tag spree.products_path, :method => :get do %>          
                                <% end %>

                                <% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>
                                <%= form_tag spree.products_path, :method => :get do %>
                                  <% cache(cache_key_for_taxons) do %>
                                    <%= select_tag :taxon,
                                          options_for_select([[Spree.t(:all_departments), '']] +
                                                                @taxons.map {|t| [t.name, t.id]},
                                                                @taxon ? @taxon.id : params[:taxon]), 'aria-label' => 'Taxon' %>
                                  <% end %>
                                  <%= search_field_tag :keywords, params[:keywords], :placeholder => "Busco..." , :class => "search-input", :style => "font-family:'Inconsolata'"  %>
                                  <%= submit_tag Spree.t(:search), :name => nil %>
                                <% end %>


                            </div>
                        </form>
                        <!-- end search input -->
                        <%= render :partial => 'spree/shared/nav_bar' %>
                        
                        
                    </div>
                    <!-- end search and cart  -->
                
                <div class="row">
                  
                    <!-- logo -->
                    <div id= "logo" class="col-md-2 pull-left margin-one"> 
                    <%= logo %></div>
                    <!-- end logo -->  
                    
                    
                    
                    <!-- toggle navigation -->
                    <div class="navbar-header col-sm-6 col-xs-2 pull-right">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    </div>
                    <!-- toggle navigation end -->
                    <!-- main menu -->
                    <div class="col-sm-6 padding-left accordion-menu text-left">                     
                        <div class="navbar-collapse collapse">
                            <ul id="accordion" class="nav navbar-nav navbar-right panel-group">
                                <!-- menu item -->
                                <li class="dropdown panel"><a href="#collapse1" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">Ropa <i class="fa fa-angle-down"></i></a>
                                    <!-- sub menu -->
                                    <ul id="collapse1" class="dropdown-menu mega-menu panel-collapse collapse mega-menu-full">
                                        <!-- sub menu column  -->
                                        <li class="mega-menu-column col-sm-3">
                                            <!-- sub menu item  -->
                                            <ul>
                                                <li><a href="shop-clothes-all.html" class="highlight-button-mix btn btn-very-small btn-round button xs-no-margin">Ver todo</a></li>
                                                
                                                <li><a href="/t/kids_categories/clothes_kids?latest">Novedades</a></li>
                                                <li><a href="/t/kids_categories/clothes_kids?utf8=✓&per_page=&search%5Bselective_style_any%5D%5B%5D=Trendy">Trendy</a></li>

                                                <li><a href="/t/kids_categories/clothes_kids?utf8=✓&per_page=&search%5Bselective_style_any%5D%5B%5D=Premium">Premium</a></li>

                                                <li><a href="/t/kids_categories/clothes_kids?sales" class="sales">Rebajas</a></li>
                                               
                                                
                                            </ul>
                                           
                                            <!-- end sub menu item  -->
                                        </li>
                                        <!-- end sub menu column  -->
                                        <!-- sub menu column  -->
                                        <li class="mega-menu-column col-sm-3">
                                            <!-- sub menu item  -->
                                            <ul>
<!--                                                    <li class="dropdown-header"></li>-->
                                                <li><a href="">Camisetas</a></li>
                                                <li><a href="">Camisas</a></li>
                                                <li><a href="">Abrigos</a></li>
                                                <li><a href="">Punto y jerseys</a></li>
                                                <li><a href="">Camisetas y Tops</a></li>
                                                <li><a href="">Chaquetas</a></li>
                                                <li><a href="">Trajes</a></li>
                                                <li><a href="">Vaqueros</a></li>
                                                <li><a href="">Pantalones</a></li>
                                            </ul>
                                            <!-- end sub menu item  -->
                                        </li>
                                        <!-- end sub menu column  -->
                                        <!-- sub menu column  -->
                                        <li class="mega-menu-column col-sm-3 banner">
                                            <!-- banner image  -->
                                            <ul>
                                                <li><a href="shop-with-sidebar.html"><img src="http://placehold.it/500x649" alt=""/></a></li>
                                            </ul>
                                            <!-- end banner image  -->
                                        </li>
                                        <!-- end sub menu column  -->
                                        <!-- sub menu column  -->
                                        <li class="mega-menu-column col-sm-3 banner">
                                            <!-- banner image  -->
                                            <ul>
                                                <li><a href="shop-with-sidebar.html"><img src="http://placehold.it/500x649" alt=""/></a></li>
                                            </ul>
                                            <!-- end banner image  -->
                                        </li>
                                        <!-- end sub menu column  -->
                                    </ul>
                                    <!-- end sub menu -->
                                </li>
                                <!-- end menu item -->
                                <!-- menu item -->
                                <li class="dropdown panel"><a href="#collapse2" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">Zapatos<i class="fa fa-angle-down"></i></a>
                                    <!-- sub menu -->
                                    <ul id="collapse2" class="dropdown-menu mega-menu panel-collapse collapse mega-menu-full">
                                        <!-- sub menu column  -->
                                        <li class="mega-menu-column col-sm-3">
                                            <!-- sub menu item  -->
                                            <ul>
                                                <li><a href="woman-clothes-all.html" class="highlight-button-mix btn btn-very-small btn-round button xs-no-margin">Ver todo</a></li>
 


                                                <li><a href="/t/kids_categories/shoes_kids?latest">Novedades</a></li>
                                                <li><a href="/t/kids_categories/shoes_kids?utf8=✓&per_page=&search%5Bselective_style_any%5D%5B%5D=Trendy">Trendy</a></li>

                                                <li><a href="/t/kids_categories/shoes_kids?utf8=✓&per_page=&search%5Bselective_style_any%5D%5B%5D=Premium">Premium</a></li>
                                                
                                                <li><a href="/t/kids_categories/shoes_kids?sales" class="sales">Rebajas</a></li>
                                                

                                            </ul>
                                            <!-- end sub menu item  -->
                                        </li>
                                        <!-- end sub menu column  -->
                                        <!-- sub menu column  -->
                                        <li class="mega-menu-column col-sm-3">
                                            <!-- sub menu item  -->
                                            <ul>
                                                
                                                <li><a href="">Zapatos</a></li>
                                                <li><a href="">Mocasines</a></li>
                                                <li><a href="">Botas y botines</a></li>
                                                <li><a href="">Zapatos planos</a></li>
                                                <li><a href="">Deportivos</a></li>
                                                <li><a href="">Sandalias</a></li>

                                            </ul>
                                            <!-- end sub menu item  -->
                                        </li>
                                        <!-- end sub menu column  -->
                                        <!-- sub menu column  -->
                                        <li class="mega-menu-column col-sm-6 banner">
                                            <!-- banner image  -->
                                            <ul>
                                                <li><a href="shop-with-sidebar.html"><img src="http://placehold.it/750x200" alt=""/></a></li>
                                                <li class="margin-five no-margin-bottom"><a href="shop-with-sidebar.html"><img src="http://placehold.it/750x200" alt=""/></a></li>
                                            </ul>
                                            <!-- end banner image  -->
                                        </li>
                                        <!-- end sub menu column  -->
                                    </ul>
                                    <!-- end sub menu -->
                                </li>
                                <!-- end menu item -->
                                <!-- menu item -->
                                <li class="dropdown panel"><a href="#collapse3" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">Accesorios <i class="fa fa-angle-down"></i></a>
                                    <!-- sub menu -->
                                    <ul id="collapse3" class="dropdown-menu mega-menu panel-collapse collapse mega-menu-full">
                                        <!-- sub menu column  -->
                                        <li class="mega-menu-column col-sm-3">
                                            <!-- sub menu item  -->
                                            <ul>
                                                <li><a href="shop-clothes-all.html" class="highlight-button-mix btn btn-very-small btn-round button xs-no-margin">Ver todo</a></li>


                                                <li><a href="/t/kids_categories/accesories_kids?latest">Novedades</a></li>
                                                <li><a href="/t/kids_categories/accesories_kids?utf8=✓&per_page=&search%5Bselective_style_any%5D%5B%5D=Trendy">Trendy</a></li>

                                                <li><a href="/t/kids_categories/accesories_kids?utf8=✓&per_page=&search%5Bselective_style_any%5D%5B%5D=Premium">Premium</a></li>
                                                
                                                <li><a href="/t/kids_categories/accesories_kids?sales" class="sales">Rebajas</a></li>
                                                

                                            </ul>
                                            <!-- end sub menu item  -->
                                        </li>
                                        <!-- end sub menu column  -->
                                        <!-- sub menu column  -->
                                        <li class="mega-menu-column col-sm-3">
                                            <!-- sub menu item  -->
                                            <ul>
                                            
                                                <li><a href="">Corbatas y pajaritas</a></li>
                                                <li><a href="">Cinturones</a></li>
                                                <li><a href="">Bolsos y mochilas</a></li>
                                                <li><a href="">Gorras y Gorros</a></li>
                                                <li><a href="">Bufandas y Foulards</a></li>   
                                                <li><a href="">Otros</a></li>

                                            </ul>
                                            <!-- end sub menu item  -->
                                            <!--sub menu item  -->
                                            <ul>
                                                <li class="dropdown-header">Complementos</li>
                                                <li><a href="">Relojes</a></li>
                                                <li><a href="">Gafas de sol</a></li>
                                                >
                                
                                            </ul>
                                            <!-- end sub menu item  -->
                                            
                                        </li>
                                        <!-- end sub menu column  -->
                                        <!-- sub menu column  -->
                                        <li class="mega-menu-column col-sm-3 banner">
                                            <!-- banner image  -->
                                            <ul>
                                                <li><a href="shop-with-sidebar.html"><img src="http://placehold.it/500x649" alt=""/></a></li>
                                            </ul>
                                            <!-- end banner image  -->
                                        </li>
                                        <!-- end sub menu column  -->
                                        <!-- sub menu column  -->
                                        <li class="mega-menu-column col-sm-3 banner">
                                            <!-- banner image  -->
                                            <ul>
                                                <li><a href="shop-with-sidebar.html"><img src="http://placehold.it/500x649" alt=""/></a></li>
                                            </ul>
                                            <!-- end banner image  -->
                                        </li>
                                        <!-- end sub menu column  -->
                                    </ul>
                                    <!-- end sub menu -->
                                </li>
                                <!-- end menu item -->
                                <!-- menu item -->
                                <li class="dropdown panel"><a href="#collapse4" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">Marcas <i class="fa fa-angle-down"></i></a>
                                    <!-- sub menu -->
                                    <ul id="collapse4" class="dropdown-menu mega-menu panel-collapse collapse mega-menu-full">
                                        <!-- sub menu column  -->
                                        <li class="mega-menu-column col-sm-3">
                                            <!-- sub menu item  -->
                                            <ul>
                                                <li class="dropdown-header">Urban</li>
                                                <li><a href="shop-with-sidebar.html">Novedades</a></li>
                                                <li><a href="shop-with-sidebar.html">Trendy</a></li>
                                                <li><a href="shop-with-sidebar.html">Premium</a></li>


                                            </ul>
                                            <!-- end sub menu item  -->
                                        </li>
                                        <!-- end sub menu column  -->
                                        <!-- sub menu column  -->
                                        <li class="mega-menu-column col-sm-3">
                                            <!-- sub menu item  -->
                                            <ul>
                                                <li class="dropdown-header">CLassic</li>
                                                <li><a href="shop-with-sidebar.html">Carolina Herrera</a></li>
                                                <li><a href="shop-with-sidebar.html">Nina ricci</a></li>
                                                <li><a href="shop-with-sidebar.html">Premium</a></li>

                                            </ul>
                                            <!-- end sub menu item  -->
                                        </li>
                                        <!-- end sub menu column  -->
                                        <!-- sub menu column  -->
                                        <li class="mega-menu-column col-sm-3">
                                            <!-- sub menu item  -->
                                            <ul>
                                                <li class="dropdown-header">Chic</li>
                                                <li><a href="shop-with-sidebar.html">pepaloves</a></li>
                                                <li><a href="shop-with-sidebar.html">zara</a></li>
                                                <li><a href="shop-with-sidebar.html">lola clothes</a></li>

                                            </ul>
                                            <!-- end sub menu item  -->
                                        </li>
                                        <!-- end sub menu column  -->

                                    </ul>
                                    <!-- end sub menu -->
                                </li>
                                <!-- end menu item -->
                                <!-- menu item -->
                                <li class="dropdown panel"><a href="/t/kids_categories/clothes_kids?utf8=✓&per_page=&search%5Bcondition_any%5D%5B%5D=Segunda+mano">Segunda mano</a></li>
                                <!-- end menu item -->
                                <!-- menu item -->
                                <li class="dropdown panel simple-dropdown"><a href="blog-right-sidebar.html" >Blog</a></li>
                                <!-- end menu item -->
                               <!-- menu item -->
                                <li class="dropdown panel simple-dropdown"></li>
                                <!-- end menu item -->
                            </ul>
                        </div>
                    </div>
                    <!-- end main menu -->
                </div>
            </div>
        </nav>
</header>        
        <!-- end navigation panel -->
