                      



                               <% if controller.controller_name == "woman" %>
                                      <% @category = "woman" %>
                                      <% @taxon = Spree::Taxon.find_by(name: "woman") %> 
                                 <% elsif controller.controller_name == "man" %>
                                      <% @category = "man" %>
                                      <% @taxon = Spree::Taxon.find_by(name: "man") %> 
                                 <% elsif controller.controller_name == "kids" %>
                                      <% @category = "kids" %>
                                      <% @taxon = Spree::Taxon.find_by(name: "kids") %> 
                                 <% else %>
                                      <% unless (cookies["gender"]).nil? %>
                                       
                                          <% if (cookies["gender"]).include?("woman") %>
                                                 <% @category = "woman" %>
                                                 <% @taxon = Spree::Taxon.find_by(name: "woman") %> 
                                          <% elsif  (cookies["gender"]).include?("man") %>
                                                <% @category = "man" %>
                                                <% @taxon = Spree::Taxon.find_by(name: "man") %> 
                                          <% elsif  (cookies["gender"]).include?("kids") %>
                                                <% @category = "kids" %>
                                                <% @taxon = Spree::Taxon.find_by(name: "kids") %> 
                                           <% else %>
                                                <% @category = "woman" %>
                                                <% @taxon = Spree::Taxon.find_by(name: "woman") %> 
                                           <% end %>
                                        <% end %>
                                 <% end %>


<header id="header" class="row" data-hook>
        <nav class="navbar navbar-default navbar-fixed-top nav-transparent overlay-nav sticky-nav bg-mid-gray " role="navigation">
           
                <div class="gender container ">

                                    <!-- Gender -->
                             <% if @category == "woman" %>
                                        <div class="gender_col col-sm-1 col-xs-3 height-nav margin-top-small bg-white"><%= link_to Spree.t(:'Mujer'), '/woman' , class: "no-margin no-padding btn-small-white-border-selected bg-transparent"  %></div>
                                        <div class="gender_col col-sm-1 col-xs-3 margin-top-small"><%= link_to Spree.t(:'Hombre'), '/man' , class: "no-margin no-padding btn-small-white-border bg-mid-gray"  %></div>
                                        <div class="gender_col col-sm-1 col-xs-3 margin-top-small"><%= link_to Spree.t(:'Niños'), '/kids' , class: "no-margin no-padding btn-small-white-border bg-mid-gray"  %></div>

                             <% elsif @category == "man" %>

                                        <div class="gender_col col-sm-1 col-xs-3 margin-top-small"><%= link_to Spree.t(:'Mujer'), '/woman' , class: "no-margin no-padding btn-small-white-border bg-mid-gray"  %></div>
                                        <div class="gender_col col-sm-1 col-xs-3 height-nav margin-top-small bg-white"><%= link_to Spree.t(:'Hombre'), '/man' , class: "no-margin no-padding btn-small-white-border-selected bg-transparent"  %></div>
                                        <div class="gender_col col-sm-1 col-xs-3 margin-top-small"><%= link_to Spree.t(:'Niños'), '/kids' , class: "no-margin no-padding btn-small-white-border bg-mid-gray"  %></div>
                             <% elsif @category == "kids" %>
                                        <div class="gender_col col-sm-1 col-xs-3 margin-top-small"><%= link_to Spree.t(:'Mujer'), '/woman' , class: "no-margin no-padding btn-small-white-border bg-mid-gray"  %></div>
                                        <div class="gender_col col-sm-1 col-xs-3 margin-top-small"><%= link_to Spree.t(:'Hombre'), '/man' , class: "no-margin no-padding btn-small-white-border bg-mid-gray"  %></div>
                                        <div class="gender_col col-sm-1 col-xs-3 height-nav margin-top-small bg-white"><%= link_to Spree.t(:'Niños'), '/kids' , class: "no-margin no-padding btn-small-white-border-selected bg-transparent"  %></div>
                             <% end %>

                            <!-- end Gender -->
                     <div class="pading-one">       
                                           <!-- Cookies consent -->
                    <%= render 'cookies_eu/consent_banner', link: '/pages/cookies', target: '_blank'%><br/> </div>                        
                </div>
        
        </nav>
        <!-- navigation panel -->
        <nav class="navbar navbar-default navbar-fixed-top nav-transparent overlay-nav sticky-nav nav-border-bottom bg-white shop-nav margin-top-nav " role="navigation">
            <div class="container">
                     <!-- search and cart  -->
                    <div class="col-md- no-padding-left search-cart-header pull-right">                      
                        
                        <div id="top-search">
                            <!-- nav search -->
                                                        <!-- nav search -->
                            <a href="#search-header" class="header-search-form"><i class="fa fa-search search-button"></i></a>
                            <!-- end nav search -->

                            <a href="#search-header" class=></a>
                            <!-- end nav search -->
                        </div>
                        <!-- search input-->
                        <div id="search-header" method="post" action="#" name="search-header" class="mfp-hide search-form-result">
                            <div class="search-form position-relative">

                                <%= render :partial => 'spree/shared/search' %>


                            </div>
                        </div>
                        <!-- end search input -->
                        
                        <%= render :partial => 'spree/shared/nav_bar' %>               
                        
                    </div>
                    <!-- end search and cart  -->
                
                <div class="row">
                  
                    <!-- logo -->
                    <div id= "logo" class="col-md-2 pull-left margin-one"> <% link_to Spree.t(:home), spree.root_path %>
                    <%= logo %></div>
                    <!-- end logo -->  
                     

                    <!-- toggle navigation -->
                    <div class="navbar-header col-sm-6 col-xs-2 pull-right">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    </div>
                    <!-- toggle navigation end -->
                    <!-- main menu -->
                    <div class="col-sm-8 padding-left accordion-menu text-left">                      
                        <div class="navbar-collapse collapse">
                            <ul id="accordion" class="nav navbar-nav navbar-right panel-group">

                            <% unless @category.nil?%>
                            <% @taxonomies  = Spree::Taxonomy.find_by(name: @category ).root.children %>
                             <% if @taxonomies %>

                              <% @taxonomies.each do |taxonomy| %> 
                                                              
                                <!-- menu item -->
                                <li class="dropdown panel"><a href="#collapse_<%= taxonomy.name %>" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown"><%= taxonomy.name %> <i class="fa fa-angle-down"></i></a>
                                    <!-- sub menu -->
                                    <ul id="collapse_<%= taxonomy.name %>" class="dropdown-menu mega-menu panel-collapse collapse mega-menu-full">
                                        <!-- sub menu column  -->
                                        <li class="mega-menu-column col-sm-3">
                                            <!-- sub menu item  -->
                                            <ul>
                                                <li><a href="/t/<%= taxonomy.permalink %>" class="highlight-button-mix btn btn-very-small btn-round button xs-no-margin">Ver todo</a></li>
                                                
                                                <li><a href="/t/<%= taxonomy.permalink %>?latest">Novedades</a></li>
                                                <li><a href="/t/<%= taxonomy.permalink %>?utf8=✓&per_page=&search%5Bselective_style_any%5D%5B%5D=Trendy">Trendy</a></li>
                                                <li><a href="/t/<%= taxonomy.permalink %>?utf8=✓&per_page=&search%5Bselective_style_any%5D%5B%5D=Premium">Premium</a></li>
                                                <li><a href="/t/<%= taxonomy.permalink %>?sales" class="sales">Rebajas</a></li>
                                                
                                                
                                            </ul>
                                           
                                            <!-- end sub menu item  -->
                                        </li>
                                        <!-- end sub menu column  -->

                                                    <!-- sub menu column  -->
                                                 <li class="mega-menu-column col-sm-3">
                                                
                                                        <!-- sub menu item  -->
                                                        <ul>
                                                             <% taxonomy.children.each do |taxon| %>
                                                         
                                                                <li>
                                                                    <a href="/t/<%= taxon.permalink  %>"><%= taxon.name %></a>
                                                                </li>
                                                         
                                                             <% end  %> 
                                                        <!-- sub menu item  -->
                                                        </ul>
                                                        <!-- end sub menu item  -->
                                                     
                                                 </li>
                                                  

                                        <!-- end sub menu column  -->
                                        <!-- sub menu column  -->
                                        <li class="mega-menu-column col-sm-3 banner">
                                            <!-- banner image  -->
                                            <ul>
                                                <li><%= image_tag 'maternity_collection.jpg' %> 
                                                <a href="/t/woman_categories/maternity" class="highlight-button-dark btn margin-four text-align-center">MATERNIDAD</a>
                                                    
                                                    
                                                                 
                
                                                </li>
                                            </ul>
                                            <!-- end banner image  -->
                                        </li>
                                        <!-- end sub menu column  -->
                                        <!-- sub menu column  -->
                                        <li class="mega-menu-column col-sm-3 banner">
                                            <!-- banner image  -->
                                            <ul>
                                                <li>
                                                <%= image_tag 'manhattan_collection.jpg' %>
                                                 <a href="/t/woman_categories/maternity" class="highlight-button-dark btn margin-four text-align-center">Colección MANHATTAN</a>   

                                                </li>
                                             
                                            </ul>
                                            <!-- end banner image  -->
                                        </li>
                                        <!-- end sub menu column  -->
                                    </ul>
                                    <!-- end sub menu -->
                                </li>
                                <!-- end menu item -->
                                 
                                 
                               <% end  %>
                              <% end  %>
                            <% end  %>


                                <!-- menu item -->
                                <li class="dropdown panel"><a href="#collapse4" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">Marcas <i class="fa fa-angle-down"></i></a>
                                    <!-- sub menu -->
                                    <ul id="collapse4" class="dropdown-menu mega-menu panel-collapse collapse mega-menu-full">
                                        <!-- sub menu column  -->
                                        <li class="mega-menu-column col-sm-3">
                                            <!-- sub menu item  -->
                                            <ul>
                                                <li class="dropdown-header">Urban</li>
                                                <li><a href="shop-with-sidebar.html">Novedades</a></li>
                                                <li><a href="shop-with-sidebar.html">Trendy</a></li>
                                                <li><a href="shop-with-sidebar.html">Premium</a></li>


                                            </ul>
                                            <!-- end sub menu item  -->
                                        </li>
                                        <!-- end sub menu column  -->
                                        <!-- sub menu column  -->
                                        <li class="mega-menu-column col-sm-3">
                                            <!-- sub menu item  -->
                                            <ul>
                                                <li class="dropdown-header">CLassic</li>
                                                <li><a href="shop-with-sidebar.html">Carolina Herrera</a></li>
                                                <li><a href="shop-with-sidebar.html">Nina ricci</a></li>
                                                <li><a href="shop-with-sidebar.html">Premium</a></li>

                                            </ul>
                                            <!-- end sub menu item  -->
                                        </li>
                                        <!-- end sub menu column  -->
                                        <!-- sub menu column  -->
                                        <li class="mega-menu-column col-sm-3">
                                            <!-- sub menu item  -->
                                            <ul>
                                                <li class="dropdown-header">Chic</li>
                                                <li><a href="shop-with-sidebar.html">pepaloves</a></li>
                                                <li><a href="shop-with-sidebar.html">zara</a></li>
                                                <li><a href="shop-with-sidebar.html">lola clothes</a></li>

                                            </ul>
                                            <!-- end sub menu item  -->
                                        </li>
                                        <!-- end sub menu column  -->

                                    </ul>
                                    <!-- end sub menu -->
                                </li>
                                <!-- end menu item -->
                                <!-- menu item -->
                                <li class="dropdown panel"><a href="/t/<%= @category %>?utf8=✓&per_page=&search%5Bcondition_any%5D%5B%5D=Segunda+mano">Saldos</a></li>
                                <!-- end menu item -->
                                <!-- menu item -->
                                <li class="dropdown panel simple-dropdown"><a href="/magazine" >Magazine</a></li>
                                <!-- end menu item -->
                               <!-- menu item -->
                                <li class="dropdown panel simple-dropdown"></li>
                                <!-- end menu item -->
                            </ul>
                        </div>
                    </div>
                    <!-- end main menu -->
                </div>
            </div>
        </nav>



</header>        
        <!-- end navigation panel -->
